@font-face {
    font-family: 'SpoqaHanSansNeo-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

// .div_changePasswordtext {
//     display: flex;
//     justify-content: center;
// }

.changePassword_text {
    width: 208px;
    height: 48px;
    margin-left: 496px;
    margin-right: 496px;
    font-family: 'SpoqaHanSansNeo-Regular';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 130%;
    letter-spacing: -0.005em;
    color: #422E2E;
}

.changePasswordbutton {
    display: flex;
    justify-content: center;
}

.changePassword_next:disabled {
    width: 540px;
    height: 44px;
    margin-top: 50px;
    background: #C6C1D1;
    border: 1px solid #C6C1D1;
    border-radius: 8px;
    font-family: 'SpoqaHanSansNeo-Regular';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    letter-spacing: -0.005em;
    color: #F5F5F5;
}

.changePassword_next {
    width: 540px;
    height: 44px;
    margin-top: 50px;
    background: #9785CB;
    border: 1px solid #C6C1D1;
    border-radius: 8px;
    font-family: 'SpoqaHanSansNeo-Regular';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    letter-spacing: -0.005em;
    color: #F5F5F5;
}

.passwords, .ConfirmPasswords {
    margin-left: 330px;
    margin-right: 330px;
}

.passwords {
    margin-top: 21px;
}

.passwordtext, .ConPw_text {
    font-family: 'SpoqaHanSansNeo-Regular';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: -0.005em;
    color: #404041;
}

input[name=password_input], input[name=ConPw_input] {
    width: 540px;
    height: 64px;
    margin-top: 8px;
    background: #FFFFFF;
    border: 1px solid #C6C1D1;
    border-radius: 8px;
    font-family: 'SpoqaHanSansNeo-Regular';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: -0.005em;
    color: #404041;
    box-sizing: border-box;
    padding-left: 24px;
}

// input[name=password_input] {
//     // margin-bottom: 16px;
// }

.errorMesege_password, .errorMesege_confirmPassword {
    // width: 189px;
    height: 18px;
    font-family: 'SpoqaHanSansNeo-Regular';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 130%;
    letter-spacing: -0.005em;
    color: #E03333;
    margin-top: 10px;
}

.confirmPasswordError {
    outline: red;
}